/* ----------------------------- */
/* ==reset */
/* Font du site*/
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
/*  font-family: 'Black Ops One', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Quantico&display=swap');
/* element pour les liens, sous-titre du site
 font-family: 'Black Ops One', cursive; */
 /*Element generaux*/
 body {
   background-color:#969BCEff;
   color: hsla(252, 8%, 12%, 0.85);
   width: 100vm;
 }
 nav {
   /*background-color: hsla(207, 100%, 98%, 0.6);*/
    background: linear-gradient(270deg, hsla(207, 100%, 98%, 0.8) 70%, hsla(47, 44%, 87%, 1) 100%);
    background: -moz-linear-gradient(270deg, hsla(207, 100%, 98%, 0.8) 70%, hsla(47, 44%, 87%, 1) 100%);
    background: -webkit-linear-gradient(270deg, hsla(207, 100%, 98%, 0.8) 70%, hsla(47, 44%, 87%, 1) 100%);
    text-align: center;
    border: 2px solid white;
 }
 nav a {
    height: auto;
    color: #75511Fff;
    font-family: 'Quantico', sans-serif;
    font-size: 0.5em;
    text-decoration: none;
    background-color: #75511Fff;
    color: #F6FBFFff;
    border: #1C1B20ff solid 2px;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    transition: background-color 1s;
 }
 nav a:hover {
   background-color: #1C1B20ff;
   color:#F6FBFFff;
   transition: background-color 1s;
 }
 nav ul {
   font-size: 2.5em;
 }
 ul {
  list-style: none;
 }
 li {
   padding: 0.2em;
 }
 header {
   display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: center;
  align-content: center;
 }
 input, button, select, textarea {
   background: #EDE7D1ff;
   border: #1C1B20ff solid 2px;
   border-radius: 5px;
   font-size: 0.7em;
 }
 button {
   font-family: 'Quantico', sans-serif;
   font-size: 1em;
   background-color: #75511Fff;
   color: #F6FBFFff;
   transition: background-color 1s;
   margin-top: 0.5em;
 }
 button:hover {
   background-color: #1C1B20ff;
   color:#F6FBFFff;
   transition: background-color 3s;
 }
 label {
   margin-top: 0.5em;
   margin-right: 0.5em;
   margin-left: 0.5em;
   font-weight: bold;
   align-items: baseline;
 }
section {
  display: flow-root;
  align-items: center;
  justify-content: center;
  margin: 0em 1em 1em 1em;
  font-size: 1.3em;
 }
.centrage {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;

 }
 /*Titre + Presentation générale*/
 .titre {
   font-family: 'Black Ops One', cursive;
   color: hsla(252, 8%, 12%, 1);
   font-size: 4em;
   text-align: center;
   margin-bottom: -4em;
    margin-top: -2em;
 }
 .sousTitre {
   font-size: 2.5em;
   text-align: center;
   font-family: 'Quantico', sans-serif;
   margin-left: 1em;
 }
 .titreArticle {
   font-size: 2.5em;
   text-align: center;
   font-family: 'Quantico', sans-serif;
 }
 .sousTitreArticle {
   font-size: 1.2em;
   text-align: center;
   font-family: 'Quantico', sans-serif;
 }
 .articleContexte {
   text-align: justify;
 }
 .articleContexte::first-letter {
   font-size: 1.2em;
 }
 .gras {
   font-weight: bolder;
 }
 .maj::first-letter {
   font-size: 1.3em;
 }
 /* formulaires*/
 .formulaire {
     display: flex;
     flex-direction: column;
     align-content: center;
     align-items: center;
 }
.upperSize {
  height: 3em;
}
.line {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: space-between;
  text-align: left;
  align-items: center;
  justify-content: left;
  flex-wrap: nowrap;
}
.line button {
  margin-right: 0.5em;
  margin-left: 0.5em;
}
.buttonDescription {
  font-size: 0.7em;
}
 /* formulaires*/
 /*Flex box*/
 .mosaique {
  padding: 20px 0px 20px 0px;
  border-radius: 5px;
  max-width:100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 5px;
  justify-content: center;
  background: linear-gradient(270deg, hsla(207, 100%, 98%, 0.8) 70%, hsla(47, 44%, 87%, 1) 100%);
  background: -moz-linear-gradient(270deg, hsla(207, 100%, 98%, 0.8) 70%, hsla(47, 44%, 87%, 1) 100%);
  background: -webkit-linear-gradient(270deg, hsla(207, 100%, 98%, 0.8) 70%, hsla(47, 44%, 87%, 1) 100%);
 }
 .item {
  min-height: 2vh;
  min-width: 15vh;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .flex-center {
     position: inherit;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-evenly;
     align-items: center;
 }
 .flex-colonne {
   display: flex;
   flex-direction: column;
   width: 15%;
   margin-right: 0.5em;
   margin-left: 0.5em;

 }
 .flex-ligne {
   margin: 1em 1em 1em 1em;;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
 }
 .colonne {
   display: flex;
   flex-direction: column;
   width: 25%;
 }
 /* id */
 #titrePrincipal {
     display: flex;
     flex-wrap: nowrap;
     align-items: center;
     justify-content: flex-start;
     align-content: stretch;
 }
 /* Lien bouton*/
 .lienBoutton {
   text-decoration: none;
   font-family: 'Quantico', sans-serif;
   font-size: 1.1em;
   background-color: #75511Fff;
   color: #F6FBFFff;
   transition: background-color 1s;
   margin-top: 0.5em;
   padding-left: 0.4em;
   padding-right: 0.4em;
   border: #1C1B20ff solid 2px;
   border-radius: 5px;
 }
 .lienBoutton:hover {
   background-color: #1C1B20ff;
   color:#F6FBFFff;
   transition: background-color 3s;
 }
 .lienCentrale {
   height: auto;
   font-family: 'Quantico', sans-serif;
   font-size: 1.5em;
   text-decoration: none;
   background-color: #75511Fff;
   color: #F6FBFFff;
   border: #1C1B20ff solid 2px;
   border-radius: 5px;
   padding: 0px 10px 0px 10px;
   transition: background-color 1s;
 }
 .lienCentrale:hover {
   background-color: #1C1B20ff;
   color:#F6FBFFff;
   transition: background-color 3s;
 }
 /* Lien bouton*/
 /* mobile */
 @media (min-width: 800px ), (orientation: landscape) {
   .flex-center {
       font-size: 1.5em;
   }
   .upperSize {
     height: inherit;
   }
   .titre {
      margin-bottom: 0;
      margin-top: 0;
   }
    .sousTitre {
      font-size: 1.4em;
    }
     nav a {
       font-size: 1em;
     }

 }
@media (max-width: 800px ), screen and (orientation: portrait) {
   nav {
    padding-bottom: 1em;
    margin-bottom: 1em;
   }
   nav a {
     font-size: 1em;
   }
   form {
     display: flex;
     flex-direction: column;
   }
   input, select {

     font-size: 0.7em;
   }
  .titre {
    margin-bottom: 0;
     margin-top: 0;
  }
  .sousTitre {
    font-size: 0.8em;
  }
  .flex-center {
      display: contents;
      text-align: center;
  }
  .lienCentrale {
    font-size: 0.85em;
  }
  .line {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.9em;
  }
  .buttonDescription {
    font-size: 1em;
  }
  .centrage {
    display: flex;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
  #titrePrincipal {
      display: flex;
      flex-direction: column;
  }
}
