/* ----------------------------- */
/* ==reset */
/* Font du site*/
/*@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');*/
/*  font-family: 'Black Ops One', cursive;*/
/*@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Quantico&display=swap');*/
/* element pour les liens, sous-titre du site
 font-family: 'Black Ops One', cursive;
// Font alternative :
Titre R5
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Quantico&display=swap');
font-family: 'Black Ops One', cursive;
font-family: 'Quantico', sans-serif;
Titre Alternatif :

font-family: 'Assistant', sans-serif;
font-family: 'Keania One', cursive;
font-family: 'Major Mono Display', monospace;

Sous Titre alternatif:

  */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Quantico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Keania+One&family=Major+Mono+Display&display=swap');
 /*Element generaux*/
html {
  scroll-behavior: auto;
}
body {
  background-image: repeating-linear-gradient(0deg, hsl(87,0%,5%) 0px, rgb(41, 41, 41) 1px,transparent 0px, transparent 30px),repeating-linear-gradient(90deg, rgb(41, 41, 41) 0px, rgb(41, 41, 41) 1px,
  transparent 0px, transparent 30px),linear-gradient(90deg, hsl(87,0%,5%),hsl(87,0%,5%));12px),
  linear-gradient(90deg, rgb(42,0,0),rgb(42,0,0));
   color: #aaa;
   width: 100vm;
   font-family: 'Assistant', sans-serif;
   font-weight: normal;
   font-size: 1.2em;
 }
article {
  background-color:hsl(87,0%,5%, 75%);
  border: 1px solid white;
  border-radius: 0px 0px 30px 0px;
  margin-top: 0.5em;
  padding: 0.5em;
  text-align: justify;
}
 nav {
   /*background-color: hsla(207, 100%, 98%, 0.6);*/
    background: linear-gradient(270deg, hsla(207, 100%, 98%, 0.8) 70%, hsla(47, 44%, 87%, 1) 100%);
    background: -moz-linear-gradient(270deg, hsla(207, 100%, 98%, 0.8) 70%, hsla(47, 44%, 87%, 1) 100%);
    background: -webkit-linear-gradient(270deg, hsla(207, 100%, 98%, 0.8) 70%, hsla(47, 44%, 87%, 1) 100%);
    text-align: center;
    border: 2px solid white;
 }
nav a {
    height: auto;
    font-family: 'Quantico', sans-serif;
    font-size: 0.5em;
    text-decoration: none;
    background-color: #1C1B20ff;
    color: #F6FBFFff;
    border: #1C1B20ff solid 2px;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    transition: background-color 0.5s;
 }
 nav a:hover {
  background-color: #cd6e09;
   color:#F6FBFFff;
   transition: background-color 0.5s;
 }


 #r5 {
   height: auto;
   color: #75511Fff;
   font-family: 'Quantico', sans-serif;
   font-size: auto;
   text-decoration: none;
   background-color: #cd6e09;
   color: #F6FBFFff;
   border: #1C1B20ff solid 2px;
   border-radius: 5px;
   padding: 0px 10px 0px 10px;
   transition: background-color 0.5s;
 }
 #r5:hover {
   background-color: #7b0704;
    color:#F6FBFFff;
    transition: background-color 0.5s;
 }
 nav ul {
   font-size: 2.5em;
 }
 ul {
  list-style: none;
 }
 .listesPublique {
   list-style: none;
 }
 li {
   padding: 0.2em;
 }
 header {
   display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: center;
  align-content: center;
 }
 input, button, select, textarea {
   background: #EDE7D1ff;
   border: #1C1B20ff solid 2px;
   border-radius: 5px;
   font-size: 0.7em;
   margin-left: 0.5em;
   margin-right: 0.5em;
 }
 textarea {
   width: 95%;
 }
 button {
   background-color: Black;
   color:red;
   font-family: 'Quantico', sans-serif;
   font-size: 1em;
   margin-top: 0.5em;
   transition: color 0.5s;
   border-radius: 5px;
   transition: background-color 1s;
   transition: color 0.5s;
   -webkit-box-shadow: inset 0px 0px 5px 0px red;
   box-shadow: inset 0px 0px 5px 0px red;
 }
 button:hover {
   background-color: #cd6e09;
   color:#F6FBFFff;
   font-family: 'Quantico', sans-serif;
   font-size: 1em;
   margin-top: 0.5em;
   transition: color 0.5s;
   border-radius: 5px;
     transition: background-color 1s;
   -webkit-box-shadow: inset 0px 0px 5px 0px red;
   box-shadow: inset 0px 0px 5px 0px red;
 }
table {
  margin: auto;
  margin-bottom: 1em;
}
caption {
  font-size: 1.5em;
  font-family: 'Quantico', sans-serif;
}
 #clone {
   background-color: Black;
   color:red;
   font-family: 'Quantico', sans-serif;
   font-size: 1em;
   margin-top: 0.5em;
   border-radius: 5px;
   transition: background-color 1s, color 1s;
   transition: color 0.5s;
   -webkit-box-shadow: inset 0px 0px 5px 0px #28FF00;
   box-shadow: inset 0px 0px 5px 0px #28FF00;
 }
 #clone:hover {
   background-color: #28FF00;
   color:#F6FBFFff;
   font-family: 'Quantico', sans-serif;
   font-size: 1em;
   margin-top: 0.5em;
   transition: color 0.5s;
   border-radius: 5px;
   transition: background-color 1s, color 1s;
   -webkit-box-shadow: inset 0px 0px 5px 0px #28FF00;
   box-shadow: inset 0px 0px 5px 0px #28FF00;
 }
 #nomFigurine {
   font-size: 1em;
   font-weight: bolder;
 }
 .arial {
   font-family: 'arial';
 }
 .lienBoutton {
   text-align: center;
   max-width: 30%;
   text-decoration: none;
   background-color: Black;
   color:red;
   font-family: 'Quantico', sans-serif;
   font-size: 1em;
   margin-top: 0.5em;
   margin-left: 0.5em;
   margin-right: 1em;
   padding: 3px 10px 3px 10px;
   transition: color 0.5s;
   border-radius: 5px;
      transition: background-color 1s;
   -webkit-box-shadow: inset 0px 0px 5px 0px blue;
   box-shadow: inset 0px 0px 5px 0px blue;
 }
 .lienBoutton:hover {
   background-color: blue;
   color:red;
      transition: background-color 1s;
 }
 .lienRS {
   text-align: center;
   max-width: auto;
   height: auto;
   text-decoration: none;
   background-color: Black;
   color:#7b0704;
   font-family: 'Quantico', sans-serif;
   font-size: 1em;
   margin-top: 0.5em;
   margin-left: 0.5em;
   margin-right: 1em;
   padding: 3px 10px 3px 10px;
   transition: color 0.5s;
   border-radius: 5px;
   -webkit-box-shadow: inset 0px 0px 5px 0px blue;
   box-shadow: inset 0px 0px 5px 0px blue;
    cursor: pointer;
    transition: background-color 0.5s;
 }
 .lienRS:hover {
   background-color: #cd6e09;
   color:#F6FBFFff;
    transition: background-color 0.5s;
 }

 label {
   margin-top: 0.5em;
   margin-right: 0.5em;
   margin-left: 0.5em;
   font-weight: bold;
   align-items: baseline;
 }
section {
  display: flow-root;
  align-items: center;
  justify-content: center;
  margin: 0em 1em 1em 1em;
  font-size: 1.3em;
 }
.centrage {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
 }
 /*Titre + Presentation générale*/
 .titre {
   /*font-family: 'Black Ops One', cursive;*/
   font-family: 'Keania One', cursive;
   font-weight: lighter;
   /*color: hsla(252, 8%, 12%, 1);*/
   color: #cd6e09;
   font-size: 7em;
   text-align: center;
   margin-bottom: -4em;
   margin-top: -2em;
 }
 .sousTitre {
   font-size: 2.5em;
   text-align: center;
   font-family: 'Quantico', sans-serif;
   margin-left: 1em;
 }
 #slogan {
   font-size: 2.5em;
   text-align: center;
   font-family: 'Quantico', sans-serif;
   margin-left: 1em;
   color: #7b0704;
 }
 #copyrigth {
   color: #1C1B20ff;
 }
 .red{
   color:red;
 }

 .titreArticle {
   font-size: 2.5em;
   text-align: center;
   font-family: 'Quantico', sans-serif;
 }
 .sousTitreArticle {
   font-size: 1.2em;
   text-align: center;
   font-family: 'Quantico', sans-serif;
 }
 .articleContexte, .articleLore {
   text-align: justify;
   padding: 0.5em;
   font-family: 'Assistant', sans-serif;
 }
 .articleLore strong {
   font-weight: bold;
   font-size: 1.5em;
 }
 .articleContexte::first-letter, .articleLore::first-letter {
   font-size: 1.2em;
 }
 .gras {
   font-weight: bolder;
   font-style: italic;
   margin-left: 0.5em;
   margin-right: 0.5em;
   font-family: 'Quantico', sans-serif;
 }
 .maj::first-letter {
   font-size: 1.3em;
 }
 .ficheFigurine {
   list-style: none;
   font-size: 0.65em;
   font-family: 'Assistant', sans-serif;
   font-weight: bolder;
 }
 .gras {
   font-weight: 800;
 }
 .affichageSP {
   font-weight:300;
   padding-right: 0.5em;
 }
.resume {
  list-style: square;
  list-style-position: outside;
  font-size: 0.65em;
  font-family: 'Assistant', sans-serif;
  font-weight: bolder;
}
.RSFiche {
  margin-left: 1.5em;
  list-style: none;
  font-family: 'Assistant', sans-serif;
  font-weight: bolder;
}
#listeFiche {
  padding-right: 0.2em;
  font-weight: lighter;
}
 /* formulaires*/
 .affecterListe {
   display:flex;
   flex-direction: column;
   width: 50%;
   position: relative;
   border: none;
 }
 .formulaire {
     display: flex;
     flex-direction: column;
     align-content: center;
     align-items: center;
 }
.upperSize {
  height: 3em;
}
.line {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: space-between;
  text-align: left;
  align-items: center;
  justify-content: left;
  flex-wrap: nowrap;
  padding-left: 15px;
}
.line button {
  margin-right: 0.5em;
  margin-left: 0.5em;
  cursor: pointer;
}
.buttonDescription {
  font-size: 0.7em;
}
 /* formulaires*/
/*Galerie*/
.images {
  cursor: pointer;
  border: 3px solid #EDE7D1ff;
  border-radius: 0px 0px 30px 0px;
  object-fit: scale-down;
}
/*Galerie*/
/*Table*/
table, td {
  align-content: center;
  text-align: center;
  border: 1px solid #EDE7D1ff;
}
td {
  padding: 0.5em;
  border-radius: none;
}
/*Table*/

 /*Flex box*/
 .mosaique {
  padding: 20px 0px 20px 0px;
  border-radius: 5px;
  max-width:100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 5px;
  justify-content: center;
  background: linear-gradient(270deg, hsla(207, 100%, 98%, 0.8) 70%, hsla(47, 44%, 87%, 1) 100%);
  background: -moz-linear-gradient(270deg, hsla(207, 100%, 98%, 0.8) 70%, hsla(47, 44%, 87%, 1) 100%);
  background: -webkit-linear-gradient(270deg, hsla(207, 100%, 98%, 0.8) 70%, hsla(47, 44%, 87%, 1) 100%);
 }

 .item {
  min-height: 2vh;
  min-width: 15vh;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
.SPGRID {
  padding: 20px 0px 20px 0px;
  border-radius: 5px;
  max-width:100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 50vh);
  grid-gap: 5px;
  justify-content: center;
}
.Galeritem {

  display: flex;
  flex-direction: column;
  align-items: center;
}
.SPitem {
  min-height: 2vh;
  min-width: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding: 15px;
  border: 1px solid black;
  /*justify-content: center;*/
}
.lienImpression {
  border: 2px solid black;
  border-radius: 5px;
  font-family: 'Black Ops One', cursive;
  padding: 5px;
  font-weight: 200;
  /*Pulsation Effet spéciaux*/
  -webkit-box-shadow: 0px 0px 15px 0px #FF0000;
  box-shadow: 0px 0px 15px 0px #FF0000;

}

#BACK .lienImpression {
  margin-left: 1em;
}
.simpleColonne {
  display: flex;
  flex-direction: column;
  min-width: 50%;
}

 .flex-center {
     position: inherit;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-evenly;
     align-items: center;
 }
 .flex-colonne {
   display: flex;
   flex-direction: column;
   width: 15%;
   margin-right: 0.5em;
   margin-left: 0.5em;

 }
 .flex-ligne {
  margin: 1em 1em 1em 1em;;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  border: none;
 }
 .flex-menuCentrale {
   display: flex;
   justify-content: space-around;
 }
.flex-presentation {
     margin: 1em 1em 1em 1em;
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     justify-content: center;
 }
 .colonne {
   display: flex;
   flex-direction: column;
   width: 25%;
 }
 .box {
   border: 2px solid #aaa;
   border-radius: 5px;
   padding: 0.2em;
   margin-bottom: 0.2em;
 }
 .containerDoubleColonne {
   display: flex;
   flex-direction: row;
 }
 /* id */
 #titrePrincipal {
     display: flex;
     flex-wrap: nowrap;
     align-items: center;
     justify-content: flex-start;
     align-content: stretch;
 }
 /* Lien bouton*/

 .lienCentrale {
   height: auto;
   font-family: 'Quantico', sans-serif;
   font-size: 1.5em;
   text-decoration: none;
   background-color: #cd6e09;
   color: #F6FBFFff;
   border: #1C1B20ff solid 2px;
   border-radius: 5px;
   padding: 0px 10px 0px 10px;
   transition: background-color 0.5s;
 }
 .lienCentrale:hover {
   background-color: #4D8C00;
   color:#F6FBFFff;
   transition: background-color 1s;
 }
 /* Lien bouton*/
/*Liste Blanche*/
.listeBlanche {
  background-color: white;
  color: black;
  border: none;
}
 /*Liste Blanche*/
 /*Modal Magic règles spéciales*/
 .dialogue {
   opacity: 1;
   width: 95%;
   max-width: 50vh;
   min-width: 20vh;
   padding: 30px;
   font-family: 'Quantico', sans-serif;
   font-size: 0.9em;
   background-color: #1C1B20ff;
   color: #aaa;
   border-radius: 5px;
   position: fixed;
   top: 5%;
   left: 5%;
   order: 0;
   border: 2px solid rgba(237, 231, 209, 1);
   border-radius: 0px 0px 30px 0px;
   text-align: justify;
 }
 .dialogueADJ {
   opacity: 1;
width: 95%;
max-width: 47vh;
min-width: 40vh;
padding: 30px;
font-family: 'Quantico', sans-serif;
font-size: 0.9em;
background-color: #1C1B20ff;
color: #aaa;
border-radius: 5px;
position: fixed;
top: 0%;
left: 0%;
order: 0;
border: 2px solid rgba(237, 231, 209, 1);
border-radius: 0px 0px 30px 0px;
text-align: justify;
font-size: 0.5em;
 }
 #affichageOrdre {
   opacity: 1;
   width: 50%;
   padding: 30px;
   font-family: 'Quantico', sans-serif;
   font-size: 0.9em;
   background-color: #1C1B20ff;
   color: #aaa;
   border-radius: 5px;
   position: fixed;
   top: 2.5%;
   left: 5%;
   order: 0;
   border: 2px solid rgba(237, 231, 209, 1);
   border-radius: 0px 0px 30px 0px;
   text-align: justify;
   transition: opacity 0.2s;
 }
 #top {
   position: absolute;
   top: -20px;
   max-width: 80%;
   color: red;
   font-size: 1em;
 }
 #placeButton {
   position: absolute;
   top: 0px;
   right: 0;
  cursor: pointer;
 }
 .ordre_simple {
 border: 5px  groove;
 margin: auto;
 margin-left: auto;
 margin-right: auto;
 cursor: pointer;
 }
 /*Modal Magic règles spéciales*/
 /* Liste pagination */

 /* Liste pagination */

 /* mobile */
 @media (min-width: 800px ), (orientation: landscape) {
   .flex-center {
       font-size: 1.5em;
   }
   .upperSize {
     height: inherit;
   }
   .titre {
      margin-bottom: 0;
      margin-top: 0;
   }
    .sousTitre {
      font-size: 1.4em;
    }
     nav a {
       font-size: 1em;
     }

 }
@media (max-width: 800px ), screen and (orientation: portrait) {
   nav {
    padding-bottom: 1em;
    margin-bottom: 1em;
   }
   nav a {
     font-size: 0.75em;
   }
   .lienCentrale {
     font-size: 0.95em;
   }
    .flex-menuCentrale {
      display: flex;
      flex-direction: column;
    }
   form {
     display: flex;
     flex-direction: column;
   }
   input, select {
     font-size: 0.7em;
   }
   article {
     border-radius: 0px 0px 10px 0px;
   }
  .titre {
    margin-bottom: 0;
     margin-top: 0;
  }
  .sousTitre {
    font-size: 0.8em;
  }
  .flex-center {
      display: contents;
      text-align: center;
  }
  .flex-presentation {
    flex-direction: column;
  }
  .line {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.9em;
  }
  .buttonDescription {
    font-size: 1em;
  }
  .centrage {
    display: flex;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
  #titrePrincipal {
      display: flex;
      flex-direction: column;
  }
  .images {
    max-width: 330px;
    border-radius: 0px 0px 10px 0px;
  }
  .dialogue {
    left: 0%;
    max-width: 15em;
    min-width: 5em;
    overflow-y : auto;
    border-radius: 0 0 10px 0;
  }
   .mosaique {
     display: flex;
     flex-direction: column;
   }
   .dialogueADJ {
     top: 1%;
     left: 2%;
   }
}
	@media print {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    body {
      margin:0 mm;
    }
    .lienBoutton {
      display: none;
    }
    .lienImpression {
      display: none;
    }
    .titre {
      font-size: 1.5em;
    }
    .sousTitre {
      font-size: 1.2em;
    }
    .listeBlanche {
      break-after: auto;
    }
    .SPGRID {
      padding: 20px 0px 20px 0px;
      border-radius: 5px;
      max-width:100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, 50vh);
      grid-gap: 5px;
      justify-content: center;
    }
    .SPitem {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: black;
      padding: 15px;
      border: 1px solid black;
      font-size: 0.5em;
      /*justify-content: center;*/
    }
  }
